body {
    display: grid;
    gird-template-colums: 1fr;
    grid-column-gap: 0.2fr;
    background-color: #eee;
}

.l-content {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.e-disruption-indicatior {
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    height: 20px;
    min-width: 20px;
    display: inline-block;
}
.bad {
    background: red;
}
.good {
    background: green;
}

a {margin: 0 5px;}
