body {
    display: grid;
    gird-template-colums: 1fr;
    grid-column-gap: 0.2fr;
    background-color: #eee;
}

.l-main-content {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

a {margin: 0 5px;}
